# RevenueBase-THT

## Exec Notebook

In [11]:
# spark environment set-up and libraries import
%run RevenueBase-THT-Notebook_Setup.ipynb

In [12]:
# Input domains load/download  
%run RevenueBase-THT-Input_Domain.ipynb

In [ ]:
# Get WARC file for domain
%run RevenueBase-THT-Get_WARC.ipynb

In [15]:
# Process HTML
%run RevenueBase-THT-Process_HTML.ipynb

In [16]:
results_df

,domain,company_name,contact,is_demo_available,is_app_available
0,blogspot.com,Blogger,no_contact_found,False,False
1,wordpress.com,"Automattic, Inc.","{'@type': 'PostalAddress', 'streetAddress': '6...",False,True